<div class="game-over" *ngIf="isGameEnd">
	<span *ngIf="isGameOver">game over</span>
	<span *ngIf="isGameWin">You win!</span>
	<div class="btn" (click)="newGame()">new word</div>
</div>
<div class="main">
	<div class="game-container">
		<div class="gameboard">
			<div class="missed-letters">
				<p class="missed">You missed:</p>
				<div class="missed-list" *ngFor="let item of missLetters">{{item}}</div>
				
			</div>
			
			<hangman [failHits]="missLetters.length"></hangman>

			<div class="letter-pad">
				<ul class="ok-letter-pad">
					<li class="letter-card empty" *ngFor="let item of emptyLetters">&nbsp;</li>
					<li class="letter-card" *ngFor="let item of okLetters" [class.invisible]="item === '_'">{{ item }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>