@font-face {
	font-family: 'Aller Display';
	src: url('assets/fonts/AllerDisplay.ttf');
}

// variables
$main-font: 'Aller Display', sans-serif;
$default-font: 16px;
$large-font: 46px;
$small-font: 36px;
$main-background: #3b4163;
$card-color: #50525a;
$missed-color: #53555d;


html {
    height: 100%;
}

body {
	font-family: $main-font;
	font-size: $default-font;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	background: $main-background;
    height: 100%;
}

ul {
	list-style: none;
}